

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-right: 10px;
}

button {
  height: 40px;
  background-color: #3498db;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.weather-container {
  width: 400px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.weather-container img {
  width: 100px;
}

.weather-container h3 {
  font-size: 30px;
  margin: 10px 0;
}

.weather-container h2 {
  font-size: 40px;
  margin: 10px 0;
}

.weather-container p {
  font-size: 20px;
  margin: 10px 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 0 20px;
}
